<template>
    <div class="module-toolbox__container">
        <div class="module-toolbox">
            <p class="help-text">
                Drag a module below into your list
            </p>
            <draggable class="list-group" :list="modules"
                :options="{group:{ name:'module',  pull:'clone', put:false }}"
                @start="drag = true"
                @end="drag = false"
            >
                <div v-for="module in modules"
                    class="btn btn-primary btn-outline module-toolbox__elm"
                    @mouseover="module.preview = true"
                    @mouseout="module.preview = false"
                >
                    {{ module.name }}
                </div>
            </draggable>
        </div>

        <draggable v-model="moduleInput" class="module-input-add" :options="{group:'module'}">
            Add module here
        </draggable>

        <div v-for="module in modules">
            <div class="preview" v-show="module.preview && !drag">
                <img class="preview__image preview__image--desktop"
                    :src="'/images/page-builder/previews/' + module.template + '_desktop.jpg'"
                >
                <img class="preview__image preview__image--mobile"
                    :src="'/images/page-builder/previews/' + module.template + '_mobile.jpg'"
                >
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .module-toolbox {
        position: absolute;
        width: 280px;
        left: -265px;
        top: 163px;

        .module-toolbox__elm {
            cursor: move;
        }

        .list-group-item {
            cursor: move;
            &:hover {
                 background-color: darken(#fcf8e3, 10%);
            }
        }
    }

    .module-input-add {
        border: 4px dashed rgb(219, 219, 219);
        margin-bottom: 3rem;
        min-height: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }

    .btn-outline {
        background-color: transparent;
        border-radius: 10rem;
        margin: 5px;
    }

    .btn-primary {
        color: #4d5ec1;
        border-color: #4d5ec1;
        &:hover {
             color: #fff;
             background-color: #3f51b5;
             border-color: #3f51b5;
         }
    }

    .full-height {
        height: 100%;
    }

    .preview {
        position: fixed;
        top: 10px;
        left: calc(50% - 400px);
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 800px;
        height: 270px;
        padding: 5px 0;
        background-color: #6d6d6d;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);

        &__image {
            display: block;
            max-height: 100%;
            border-radius: 5px;
            border: 2px solid #000000;

            &--desktop {
                max-width: 63%;
            }

            &--mobile {
                max-width: 33%;
            }
        }
    }
</style>

<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable
        },

        props: ['cmsId'],

        data() {
            return {
                modules: [],
                moduleInput: [],
                drag: false,
            }
        },

        watch: {
            // Whenever module input is added, this function will run
            moduleInput() {
                this.updatePageModulesList();
            }
        },

        created() {
            axios.get('/modules')
                .then(({data}) => {
                    data.forEach((item, index) => {
                        data[index].preview = false;
                    });
                    this.modules = data;
                });
        },

        methods: {
            updatePageModulesList() {

                let moduleData = {
                    cms_rabbit_id : this.cmsId,
                    module_template : this.moduleInput[0].template,
                    order : 99 // Input high order for showing new module below in listing
                };

                axios.post('/page-modules', moduleData)
                    .then(({data}) => pageBuilderEvent.$emit('moduleUpdated'));
            },
        }
    }
</script>
