/**
* This component provides interface for changing module's properties
* Form elements depend on each module // config.page_modules.*
*/
<template>
    <modal v-if="showModal">
        <h2 slot="header">Edit Module {{ formName | capitalize }}</h2>
        <form slot="body">
            <div v-for="(input, key) in formInputs" :key="input.name">
                <!-- Input fields collection -->
                <div v-if="input.type  === 'collection'" class="well col-sm-12">
                    <h4>{{ input.name | capitalize }}</h4>
                    <div v-for="(inputs, key) in input.collection"
                        class="alert alert-info collection-panel clearfix"
                    >
                        <button v-if="key >= input.min || !input.hasOwnProperty('min')"
                            class="btn btn-xs btn-danger pull-right" type="button"
                            @click="removeItem(input.collection, key)">Remove
                        </button>

                        <button class="btn btn-xs btn-warning pull-right" type="button" title="Move item down"
                            v-if="key !== (input.collection.length - 1)"
                            @click="moveItem(input.collection, key, 1)"
                        >
                            <i class="ricon ricon-arrow-small-down"></i>
                        </button>
                        <button class="btn btn-xs btn-warning pull-right" type="button" title="Move item up"
                            v-if="key !== 0"
                            @click="moveItem(input.collection, key, -1)"
                        >
                            <i class="ricon ricon-arrow-small-up"></i>
                        </button>

                        <h3># {{ key + 1 }}</h3>
                        <module-cms-inputs
                            v-for="input in inputs"
                            :key="input.name"
                            :input="input"
                            :number="key"
                            :page-module-id="pageModuleId"></module-cms-inputs>
                        <hr v-if="input.section_break">
                    </div>
                    <button class="btn-info btn btn-lg center-block"
                        v-if="input.collection.length < input.max || !input.hasOwnProperty('max')"
                        @click.prevent="addNewItem(input)">Add +</button>
                </div>
                <module-cms-inputs v-else
                    :input="input"
                    :number="key"
                    :page-module-id="pageModuleId"></module-cms-inputs>
            </div>
        </form>
        <div slot="footer">
            <button class="btn btn-success" @click="update()">
                Update
            </button>
            <button class="btn btn-warning" @click="showModal = false">
                Close
            </button>
        </div>
    </modal>
</template>

<style lang="scss" scoped>
    label {
        text-transform: capitalize;
    }
    h3 {
        margin-top: 0;
        text-transform: uppercase;
    }
    .form-group {
        min-height: 60px;
    }
    .well {
        background-color: transparent;
    }
    .list-item {
        display: inline-block;
        margin-right: 10px;
    }
    .list-enter-active, .list-leave-active {
        transition: all .3s;
    }
    .list-enter, .list-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }

    .collection-panel .btn {
        margin-left: 5px;
    }
</style>

<script>
    import VueNotifications from 'vue-notifications'
    import ModuleCmsInputs from './module-cms-inputs.vue'

    export default {
        components: {
            ModuleCmsInputs,
        },

        data() {
            return {
                showModal: false,
                formInputs: {},
                pageModuleId: null
            }
        },

        filters: {
            capitalize(value) {
                return value.charAt(0).toUpperCase() + value.replace(/_/g, ' ').slice(1);
            }
        },

        created() {
            pageBuilderEvent.$on('editModule', (moduleId) => {
                this.showInputForm(moduleId);
            });

            pageBuilderEvent.$on('cmsInputUpdate', () => {
                this.update();
            });
        },

        methods: {
            // Showing module form
            showInputForm(pageModuleId) {
                // This request link to 'config.page_modules.*'
                axios.get(`/page-modules/module/${pageModuleId}/edit`)
                    .then(({data}) => {
                        this.formName = Object.keys(data)[0];
                        this.formInputs = data[this.formName].inputs;
                        this.showModal = true;
                        this.pageModuleId = pageModuleId;
                    });
            },

            addNewItem(inputTarget) {
                let newItem = JSON.parse(JSON.stringify(inputTarget.attributes));
                inputTarget.collection.push(newItem);
            },

            removeItem(input, key) {
                if (confirm('Are you sure you want to delete this?')) {
                    input.splice(key, 1);
                    this.update();
                }
            },

            moveItem(collection, key, direction) {
                const current = collection[key];

                collection.splice(key, 1);
                collection.splice(key + direction, 0, current);

                VueNotifications.success({ message: `Swapped: #${key + 1} <=> #${key + 1 + direction}.` });
            },

            // Sending request to update page module's property data
            update(params = {}) {
                params.page_module_id = this.pageModuleId;
                params.properties = this.formInputs;
                axios.post('/page-modules/module-property/update', params)
                    .then(({data, status} ) => {
                        if (status === 200) {
                            VueNotifications.success({
                                message: 'Updated'
                            });

                            pageBuilderEvent.$emit('modulePlatformForceUpdate', {
                                page_module_id: this.pageModuleId,
                                display_on_responsive: this.getInputValueByName('display_on_responsive'),
                                display_on_mobile: this.getInputValueByName('display_on_mobile'),
                            });
                        }
                    })
                    .catch((error) => {
                        VueNotifications.error({message: `Error ${ error.response.statusText }`});
                    });
            },

            getInputValueByName(searchName) {
                for (let key in this.formInputs) {
                    if (this.formInputs.hasOwnProperty(key) && this.formInputs[key].name === searchName) {
                        return this.formInputs[key].value;
                    }
                }
            },
        }
    }
</script>
