<template>
    <div :class="inputColumnWidth">
        <label :for="input.name" v-if="input.type !== 'checkbox'">{{ input.name | capitalize }}</label>

        <div :class="input.text_before || input.text_after ? 'input-group' : ''"
            v-if="input.type  === 'text'"
        >
            <span class="input-group-addon"
                v-if="input.text_before"
            >{{ input.text_before }}</span>
            <input class="form-control"
                :id="input.name"
                :name="input.name"
                type="text"
                v-model.trim="input.value"
            >
            <span class="input-group-addon"
                v-if="input.text_after"
            >{{ input.text_after }}</span>
        </div>

        <div class="row"
            v-if="input.type === 'text-content'">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">TH</span>
                    <span class="input-group-addon"
                        v-if="input.text_before"
                    >{{ input.text_before }}</span>
                    <input class="form-control"
                        :id="input.name"
                        :name="input.name + '-th'"
                        type="text"
                        v-validate="input.rules"
                        placeholder="TH"
                        v-model.trim="input.value.th"
                    >
                    <span class="input-group-addon"
                        v-if="input.text_after"
                    >{{ input.text_after }}</span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">EN</span>
                    <span class="input-group-addon"
                        v-if="input.text_before"
                    >{{ input.text_before }}</span>
                    <input class="form-control"
                        :id="input.name"
                        :name="input.name + '-en'"
                        type="text"
                        v-validate="input.rules"
                        placeholder="EN"
                        v-model.trim="input.value.en"
                    >
                    <span class="input-group-addon"
                        v-if="input.text_after"
                    >{{ input.text_after }}</span>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <textarea class="form-control"
            v-if="input.type === 'textarea'"
            :id="input.name"
            :name="input.name"
            :type="input.type"
            v-model.trim="input.value"
        ></textarea>

        <div class="row"
            v-if="input.type === 'textarea-content'">
            <div class="col-sm-6">
            <textarea
                class="form-control"
                :id="input.name"
                :name="input.name"
                placeholder="TH"
                v-model.trim="input.value.th"
            ></textarea>
            </div>
            <div class="col-sm-6">
            <textarea
                class="form-control"
                :id="input.name"
                :name="input.name"
                placeholder="EN"
                v-model.trim="input.value.en"
            ></textarea>
            </div>
        </div>

        <div class="row"
            v-if="input.type === 'number'">
            <div class="col-sm-6">
                <input class="form-control"
                    :id="input.name"
                    :name="input.name"
                    placeholder="number"
                    type="number"
                    v-model.number="input.value"
                >
            </div>
        </div>

        <!-- Color picker -->
        <div class="color-picker row" v-if="input.type === 'color-picker'">
            <div class="color-picker__tools col-sm-7">
                <div class="color-picker__toggler pull-left"
                    @click="toggleColorPickerVisibility()"
                >
                    <div class="color-picker__toggler__example pull-left"
                        :style="{ 'background-color': formattedColor }"
                    ></div>
                    <div class="color-picker__toggler__arrow pull-right"
                        :class="{ 'color-picker__tool__toggler__arrow--up': isColorPickerVisible }"
                    ><i class="ricon ricon-arrow-big-down"></i></div>
                </div>
                <sketch class="color-picker__sketch"
                    v-show="isColorPickerVisible"
                    :name="input.name"
                    v-model="input.value"
                ></sketch>
            </div>
        </div>

        <div class="row"
            v-if="input.type === 'html-editor'">
            <div class="col-sm-6">
                <label>Thai</label>
                <ck-editor :id="input.name + '-th' + number"
                    v-model="input.value.th"
                ></ck-editor>
            </div>

            <div class="col-sm-6">
                <label>English</label>
                <ck-editor :id="input.name + '-en' + number"
                    v-model="input.value.en"
                ></ck-editor>
            </div>
        </div>

        <!-- Select -->
        <select class="form-control"
            v-if="input.type === 'select'"
            :id="input.name"
            :name="input.name"
            v-model="input.value"
        >
            <option value="">Please select</option>
            <option :value="value" v-for="value in input.values">
                {{ value }}
            </option>
        </select>

        <!-- Radio -->
        <label class="radio-inline"
            v-if="input.type === 'radio'"
            v-for="(value, index) in input.values"
        >
            <input type="radio"
                :name="input.name"
                v-model="input.value"
                :value="index"> {{ value }}
        </label>

        <!-- Checkbox -->
        <div class="checkbox" v-if="input.type === 'checkbox'">
            <label>
                <input type="checkbox"
                    :name="input.name"
                    v-model="input.value"
                >
                {{ input.name | capitalize }}
            </label>
        </div>

        <!-- File input type -->
        <div v-if="input.type === 'file'">
            <div v-if="input.value === null">
                <form enctype="multipart/form-data" method="POST"
                    :name="input.name + number">
                    <input type="file" id="upload_form"
                        @change="uploadFile(input, input.name + number)"
                        name="file">
                </form>
            </div>
            <div class="img-preview__wrapper" v-else>
                <img :src="input.value" class="img-responsive img-preview">
                <button class="btn btn-xs btn-danger"
                    @click="removeFile(input)">Remove File
                </button>
            </div>
        </div>

        <!-- Input hint -->
        <p class="help-block" v-html="input.help"></p>
        <p v-show="errors.any()" class="text-danger"
            v-for="error in errors.all()"
        >{{ error }}</p>
    </div>
</template>

<style lang="scss" scoped>
    .img-preview__wrapper {
        position: relative;
        .img-preview {
            max-height: 150px;
        }
        .btn {
            position: absolute;
            z-index: 9;
            left: 0;
            top: 0;
        }
    }

    textarea.form-control {
        min-height: 140px;
    }

    .color-picker {
        &__tools {
            position: relative;
        }

        &__toggler {
            position: relative;
            width: 90px;
            height: 34px;
            border: 1px solid #cccccc;
            border-radius: 10px;
            cursor: pointer;

            &::before {
                position: absolute;
                top: calc(50% - 5px);
                left: 21px;
                z-index: 1;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #000000;
                content: ' ';
            }

            &__example {
                position: relative;
                z-index: 2;
                width: 60%;
                height: 100%;
                border-radius: 10px;
            }

            &__arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 100%;
                font-size: 12px;

                &--up {
                    .ricon {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &__sketch {
            position: absolute;
            top: 34px;
            right: -80px;
            z-index: 10;
            width: 230px;
        }
    }
</style>

<script>
    import VueNotifications from 'vue-notifications'
    import { Sketch } from 'vue-color'

    export default {
        components: {
            Sketch,
        },

        props: ['input', 'pageModuleId', 'number'],

        data() {
            return {
                isColorPickerVisible: false,
            }
        },

        filters: {
            capitalize (value) {
                return value.charAt(0).toUpperCase() + value.replace(/_/g, ' ').slice(1);
            }
        },

        computed: {
            formattedColor () {
                if ((typeof this.input.value) === 'string') {
                    return this.input.value;
                }

                if (this.input.value.a && this.input.value.a < 1) {
                    return `rgba(${this.input.value.rgba.r},${this.input.value.rgba.g},${this.input.value.rgba.b},`+
                        `${this.input.value.rgba.a})`;
                } else {
                    return this.input.value.hex;
                }
            },

            inputColumnWidth () {
                return ['text-content', 'textarea-content', 'html-editor', 'rf-blog', 'rf-blog-2', 'file'].includes(this.input.type)
                    ? 'col-sm-12' : 'col-sm-6';
            },
        },

        methods: {
            save () {
                if (!this.errors.any()) {
                    pageBuilderEvent.$emit('cmsInputUpdate');
                }
            },

            // Upload object file to google storage
            uploadFile (input, formName) {
                let fileObject = new FormData(document.forms.namedItem(formName));

                // Attach extra data to the form
                fileObject.append('page_module_id', this.pageModuleId);

                axios.post('/page-module-files/upload-file', fileObject)
                    .then(({data}) => {
                        input.value = data;
                        this.save();
                    })
                    .catch((error) => {
                        if (error.response.data.file) {
                            error.response.data.file.forEach((errorMessage) => {
                                VueNotifications.error({ message: errorMessage });
                            });

                            return;
                        }

                        VueNotifications.error({message: `Error ${ error.response.statusText }`});
                    });
            },

            /**
             * Remove file
             *
             * @param {Object} input
             */
            removeFile (input) {
                input.value = null;
            },

            toggleColorPickerVisibility () {
                this.isColorPickerVisible = !this.isColorPickerVisible;
            },
        }
    }
</script>
