/*
* This component provides interface for changing page setting
*/
<template>

    <div>
    <a @click="showForm()" role="button">
        <h3>Page setting</h3>
    </a>

    <modal v-if="showModal">
        <h2 slot="header">
            Page setting
        </h2>

        <form slot="body">
            <!-- Heading section -->
            <h3>Heading</h3>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="heading-underline-width">Underline width</label>
                        <input class="form-control"
                            id="heading-underline-width"
                            type="number"
                            v-model.number="setting.heading.underline_width"
                            v-validate="'required'"
                            name="heading_underline_width"
                        >
                        <div class="help-block">Pixel unit.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="heading-underline-color">Underline color</label>
                        <input class="form-control"
                            id="heading-underline-color"
                            type="text"
                            v-model.trim="setting.heading.underline_color"
                            v-validate="'required'"
                            name="heading_underline_color"
                        >
                    </div>
                </div>
            </div>
            <!-- End Heading section -->

            <!-- Button section -->
            <h3>Button</h3>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="button-background-color">background color</label>
                        <input class="form-control"
                            id="button-background-color"
                            type="text"
                            v-model.trim="setting.button.background_color"
                            v-validate="'required'"
                            name="button_background_color"
                        >
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="button-background-color">font color</label>
                        <input class="form-control"
                            id="button-font-color"
                            type="text"
                            v-model.trim="setting.button.font_color"
                            v-validate="'required'"
                            name="button_font_color"
                        >
                    </div>
                </div>

            </div>
            <!-- End Button section -->

            <!-- CSS section -->
            <h3>CSS</h3>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="css-desktop">CSS Desktop</label>
                        <textarea class="form-control text-area-css"
                               id="css-desktop"
                               v-model.trim="setting.css.desktop"
                               name="css_desktop"
                        >
                        </textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="css-mobile">CSS Mobile</label>
                        <textarea class="form-control text-area-css"
                               id="css-mobile"
                               v-model.trim="setting.css.mobile"
                               name="css_mobile"
                        >
                        </textarea>
                    </div>
                </div>

            </div>
            <!-- End CSS section -->

            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="setting.hide_footer">Hide Footer from RSP
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" v-model="setting.hide_en">Hide Language Switcher
                </label>
            </div>
        </form>

        <div slot="footer">
            <button type="submit" class="btn btn-success" @click="save()">
                Save
            </button>
            <button class="btn btn-default" @click="showModal = false">
                Close
            </button>
        </div>
    </modal>
    </div>
</template>

<style lang="scss" scoped>
    .btn {
        text-align: left;
    }
    .text-area-css {
        height: 120px;
    }
</style>

<script>
    import VueNotifications from 'vue-notifications'

    export default {
        props: ['cmsId'],
        data () {
            return {
                showModal: false,
                setting: {},
            }
        },

        created () {
            this.getData();
        },

        methods: {

            // Showing module form
            showForm () {
                this.showModal = true;
            },

            getData () {
                axios.get(`/page-settings/${this.cmsId}`)
                    .then(({data}) => {
                        this.setting = data.setting;
                    });
            },

            save () {
                this.$validator.validateAll().then(() => {
                    const data = {
                        setting: this.setting,
                        cms_id: this.cmsId
                    };

                    axios.post('/page-settings/update', data).then(() => {
                        VueNotifications.success({message: 'Updated'});
                    });
                }).catch(() => {
                    VueNotifications.error({message: `Please check all required fields`});
                });
            },
        }
    }
</script>
