<template>
    <div>
        <draggable :list="pageModules" @end="update" :options="{animation : 200}">
            <div class="panel-container" v-for="(pageModule, index) in pageModules">
                <div class="panel"
                    :class="{ 'panel--inactive': !(pageModule.display_on_responsive || pageModule.display_on_mobile) }"
                >
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs"
                            @click="edit(pageModule.id)"
                        >
                            Edit
                        </button>
                        <button class="btn btn-danger btn-xs"
                            @click="remove(pageModule.id, index)"
                        >
                            Remove
                        </button>
                    </div>
                    <div class="panel__platforms pull-right">
                        <div class="panel__platforms__item pull-left">
                            Responsive
                            <i class="ricon"
                                :class="pageModule.display_on_responsive ? 'ricon-check-circle' : 'ricon-circle-close'"
                            ></i>
                        </div>
                        <div class="panel__platforms__item">
                            Mobile
                            <i class="ricon"
                                :class="pageModule.display_on_mobile ? 'ricon-check-circle' : 'ricon-circle-close'"
                            ></i>
                        </div>
                    </div>
                    {{ pageModule.module_template | name }}
                </div>
            </div>
        </draggable>
    </div>
</template>

<style lang="scss" scoped>

    $text-color: #ffffff;
    $bg-color: #333;
    $bg-inactive-color: #929292;
    $warning-color: #c86e6e;
    $success-color: #5cb85c;

    .panel-container {
        padding: 1rem 0;
    }
    .panel {
        cursor: move;
        padding: 1rem;
        margin-bottom: 0;
        background-color: $bg-color;
        color: $text-color;
        text-transform: capitalize;

        &:hover {
            background-color: $bg-color;
            color: #ffffff;
        }

        &--inactive {
            background-color: $bg-inactive-color;

            &:hover {
                background-color: $bg-inactive-color;
            }
        }

        &__platforms {
            width: 40%;

            &__item {
                padding: 0 20px;

                .ricon {
                    vertical-align: middle;
                    padding: 0 5px;

                    &.ricon-check-circle {
                        color: $success-color;
                    }

                    &.ricon-circle-close {
                        color: $warning-color;
                    }
                }
            }

        }

        .btn-danger {
            background-color: $warning-color;
            color: #ffffff;

            &:hover {
                 background-color: darken($warning-color, 10%);
             }
        }
    }
</style>

<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },

        filters: {
            name: function (value) {
                return value.replace(/_/g, ' ');
            }
        },

        // cmsId - Owner modules list
        props: ['cmsId'],

        data () {
            return {
                // get value from its prop
                id: this.cmsId,
                pageModules: [],
                newModuleAdded: false
            }
        },

        created () {
            this.getModules();

            pageBuilderEvent.$on('moduleUpdated', () => {
                this.getModules();
            });

            // data: page_module_id, display_on_responsive, display_on_mobile
            pageBuilderEvent.$on('modulePlatformForceUpdate', (data) => {
                const moduleArrayIndex = this.getModuleIndexById(parseInt(data.page_module_id, 10));

                this.pageModules[moduleArrayIndex].display_on_responsive = data.display_on_responsive;
                this.pageModules[moduleArrayIndex].display_on_mobile     = data.display_on_mobile;
            });
        },

        methods: {
            getModules () {
                axios.get(`/page-modules/${this.id}`)
                    .then(({data}) => {
                        this.pageModules = data;

                        // Show module cms form
                        if (this.newModuleAdded) {
                            pageBuilderEvent.$emit('editModule', _.last(this.pageModules).id);
                            this.newModuleAdded = false;
                        }
                    });
            },

            // Remove module from list
            remove (pageModuleId, index) {
                if (confirm('Are you sure you want to delete this?')) {
                    this.pageModules.splice(index, 1);
                    axios.delete(`/page-modules/${pageModuleId}`);
                }
            },

            // Update module list
            update () {
                axios.put(`/page-modules/${this.id}/sort`, this.pageModules);
            },

            // Config for each page module.
            edit (pageModuleId) {
                pageBuilderEvent.$emit('editModule', pageModuleId);
            },

            getModuleIndexById (moduleId) {
                for (let i = 0; i < this.pageModules.length; i++) {
                    if (this.pageModules[i].id === moduleId) {
                        return i;
                    }
                }
            },
        }
    }
</script>
