<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            default footer
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<style lang="scss" scoped>
    $header-text-color: #fff;

    .modal-mask {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        display: table;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .2s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 80vw;
        max-width: 1100px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .2s ease;
    }

    .modal-header {
        background-color: #607d8b;
        margin-top: 0;
        padding: 0 15px;
        color: $header-text-color;
        font-size: 2rem;
        text-transform: capitalize;
    }

    .modal-body {
        margin: 20px 0;
        max-height: 50vh;
        overflow: auto;
    }
    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        opacity: 0;
    }
</style>
